$font-set: 'Oxygen', 'M PLUS 1p', sans-serif;
$font-ja: 'M PLUS 1p', sans-serif;
$font-eng: 'Oxygen', sans-serif;

$width: 960px;

$color-base-gray: #454545;
$color-mid-gray: #bdbdbd;
$color-light-gray: #e3e3e3;
$color-primary: #85d06e;
$color-secondary: #23c441;
$color-base: #fdf6da;