@import 'variables';

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: {
    family: $font-set;
  }
}
ul{
  list-style: none;
}
form{
}
#container{
  max-width: $width;
  margin: 100px auto;
}
h1{
  text-align: center;
  font-size: 48px;
}